# Extra Material for Lesson 4
Congratulations on completing the fourth lesson in our series about Python for Introductory Statistics. We hope that you were able to learn a lot through our materials, and within this Jupyter notebook you will find even more information about how Python can help you perform statistical inference. Kudos to you for going the extra mile to take on new challenges in this coding language. As always, please refer back to the techniques for getting help that we introduced you to in Lessone One if you get stuck. Happy learning!

In [1]:
# Add libraries and functions
import pandas as pd
from scipy.stats import f_oneway

## Another method for One-Way ANOVA
Here is another way to find the statistic and p-value for a one-way ANOVA using the function f_oneway from the library scipy.stats. This method does not provide you with the ANOVA table, rather it extracts just these two important values. We will return the backpack data to show you this example. In our example, we will analyze the backpack weight to body weight ratios of students in their first through third years of their undergraduate studies.

+ $H_0$ : There is no significant difference between the ratios of these year groups.
+ $H_A$ : There is a significant difference between the ratios of these year groups.

Let's begin by importing our data and taking a look.

In [10]:
bp = pd.read_csv("backpack.csv")
bp.head()

,BackpackWeight,BodyWeight,Ratio,BackProblems,Major,Year,Sex,Status,Units
0,9,125,0.072000,1,Bio,3,Female,U,13
1,8,180,0.044444,0,EE,2,Female,U,14
2,8,170,0.047059,0,CM,3,Male,U,15
3,8,135,0.059259,0,Bus,3,Female,U,15
4,12,125,0.096000,1,CS,3,Female,U,12

Now that we know what our data looks like, let's restructure it so that we can analyze the ratios of only first years, second years, and third years. The reason for this next step is because the method requires that we specify each group that we are comparing. Do not worry if you do not understand the contents of the following code chunk, this is data wrangling which is a topic that is not covered in Introductory Statistics.

In [11]:
# Save the data for first years
first = bp[bp.Year == 1].filter(["Ratio"])

# Now for second years
second = bp[bp.Year == 2].filter(['Ratio'])

# And now for third years
third = bp[bp.Year == 3].filter(['Ratio'])

In [12]:
# Assign the results of our test to two variables
stat, p = f_oneway(first, second, third)

# Print the results
print("p-values:", p)
print("ANOVA:", stat)

p-values: [0.47088435]
ANOVA: [0.76355072]

In [13]:
# Let's use 0.05 or 5% as the significance level of alpha.
if p < 0.05:
    
    print("Reject the null hypothesis")
    
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

At a significance level of alpha = 0.05, we fail to reject the null hypothesis that there is no significant difference between the backpack to bodyweight ratios of students in different years of their undergraduate degrees. In other words, we have insufficient evidence to say that there is a significant difference between the ratios of these year groups.

# Tips
+ Make sure you feel comfortable with the content you learned in Lesson 4 before this extra material.
+ Always remember to load the necessary libraries.
+ Name your variables, dataframes, and labels helpful and informative titles.
+ If you get stuck, use the help documentation that you learned in our previous lecture to help you troubleshoot!

# References

* De Veaux, Richard D., Paul F. Velleman, and David E. Bock. 2022. Intro Stats. Sixth Edition. Pearson Education, Inc.

* Python Data Analysis - Third Edition. (2019). Jupyter Notebook. Packt. https://github.com/PacktPublishing/Python-Data-Analysis-Third-Edition/blob/e1cd8029a1830fe5ecc86379ab361d215e71f036/Chapter05/HR_comma_sep.csv. Accessed July 7, 2022.